mixin projet-item(name, imageName, ...tags)
  .poject-content
    .target
      .img-content
        img( loading="lazy", src="./public/images/screenshots/"+imageName, alt="image")
    h3 #{name}
    .tags-content.flex-content
      each tag in tags
        span.tag ##{tag}

mixin timeline-item(position, formYear, toYear, description, company='Freelance')
  .path-timeline-item
    .path-timeline-header
      span #{company}
      span #{formYear}-#{toYear}
    .path-timeline-info
      h4 #{position}
      p #{description}
